* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

html {
      font-family: sans-serif;
      font-size: 16px;
}

body {
      width: 100vw;
      height: 100vh;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.lyric-word {
      font-size: 2rem;
      margin: 20px 0;
}

.lyric-line {
      opacity: 0.5;
}